body {
    background-color: rgb(66, 64, 64);
}

.title {
    text-align: center;
    color: #fff;
}
.todo1 {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0 ,0.5);
    width: 800px;
    height: 500px;
    background-color: rgb(90, 87, 87);
    color: #fff;
    
}   
.btn {
    background-color: orange;
    border: none;
    border-radius: 40px;
    color: #fff;
}
.btn:hover {
    background-color: rgb(218, 177, 100);
}
a:hover {
    text-decoration: none;
}
.title1 {
    margin-top: 60px;
}

.form-survey {
    color: #fff;
}
.main {
    width: 400px;
    height: 370px;
    margin-top: 20px;
}
.list-group {
    background-color: rgb(90, 87, 87);

}